<!DOCTYPE html>

<html>
    <title>About</title>    
    <link rel="icon" href="img/weather.png">
    <link rel="Stylesheet" href="./css/styles.css">
<head>

</head>

<body>
    <div class="main-content">
    {{>header}}
    <img class="potrait" src="./img/Passport_photograph2.jpg">
    <p>Created by {{name}}</p>
    </div>
    {{>footer}}
</body>
</html>